footer.footer
 .footer-text
    p Copyright &copy; 2023 Crypto Analyser | All Right Reserved
 .footer-iconTop
    a(href='#home')
      i.bx.bx-up-arrow-alt
    link(rel='stylesheet', href='../static/home.css')