header.header
  a.logo(href='/home') Crypto Analyzer
  i#menu-icon.bx.bx-menu
  nav.navbar
    a.active(href='/home') Home
    a(href='/home#about') About
    a(href='/home#services') Services
    a(href='/home#price') Live Price
    if locals.islogin
      a#logout(href='/logout') Logout
    else
      a#login(href='/login') Login

  link(rel='stylesheet', href='../static/home.css')
