header.header
 
  a.logo(href='#') Crypto Analyzer
  i#menu-icon.bx.bx-menu
  nav.navbar
    a.active(href='#home') Home
    a(href='#about') About
    a(href='#services') Services
    a(href='#price') Live Price
  link(rel='stylesheet', href='../static/home.css')
    