html
  head 
       style 
         include ../static/module1.css
         include ../static/dropdown.css
  body
    include header
    .container 
     h1 Calculate Average From Invested Money
     script(src='table2.js')
     script(src="https://code.jquery.com/jquery-3.6.0.min.js")
     .tablecontainer
      table#my-table
       thead     
         tr
          th Crypto coin
          th Invested Price
          th Current Buying Price
          th coins you have
          th Money to Invest
          th Averaging down
          th Coin to Buy
          th Average
       tbody
          tr
          td
            select#coin-dropdown
              option(value='') Select a coin
              each option in ['Bitcoin', 'Ethereum', 'Litecoin', 'Dogecoin', 'Solana', 'Cosmos', 'Ripple', 'Helium', 'Cardano', 'Loopring', 'Fantom', 'Harmony']
                option.coin(id=option.toLowerCase() value=option)= option
            div.coin-options(style='display:none;')

          td
            input.Invested_Price(type='text')
          td
            input#current-price.Current_Price(type='text')
          td
            input.Coins_you_have(type='text')
          td
            input.Money_You_Want_To_Invest(type='text')
          td
            button.button(onclick='Avg_Down()') Calculate
          td
            p.Coin_You_Want_To_Buy 
          td
            p.Average

          
          

     button#add-row Add Row
     include footer
     script 
       include ../static/module2.js
       include ../static/table2.js
       include ../static/dropdown.js
       include ../static/currentprice.js