:root {
  --bg-color: #ffffff;
  --second-bg-color: #ceedf4;
  --text-color: #05262e;
  --main-color: #5dab96;
}


html {
  background-color: #f9fbfc;
  
  height: 100%
}

body {
  height: 100%;
  width: 100%;
}
.container{
  padding-top: 300px;
}
.tablecontainer{
  width:100%;
}
table {
  padding-top: 52px;
padding-bottom: 211px;
color: #f9fbfc;
width: 100%;
  
}

  
  table, td {
    border: 1px solid rgb(16, 12, 12);
    background: var(--second-bg-color);
  }
  
  th, td {
    padding: 5px;
   
  }
  
  h1{
    text-align: center;
  }

  table,th{
    color:var(--text-color);
  }

  button #add-row{
    text-align: center;
  }
  input{
    width:100px;
    background-color: transparent;
    color:rgb(9, 9, 9);
  }

  button.button{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
   


  }

  button#add-row{
    
    width: 162px;
    height: 47px;
    padding: 22px;
    margin-bottom: 288px;
    justify-content: center;
    margin-left: 50%;
    
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
  }